services:
  rust:
    build:
      context: .
      dockerfile: files/Rust/Dockerfile
    volumes:
      - ./src:/var/www/html
    working_dir: /var/www/html
    environment:
      - USER=root
    tty: true
    stdin_open: true

